<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="commentSoldTest.BaseTest"/>
      <class name="commentSoldTest.LoginTest"/>
      <class name="commentSoldTest.ShopCuponTest"/>
      <class name="commentSoldTest.ShopTest"/>
      <class name="commentSoldTestAccount.CreateAccountTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
